header, footer {
  text-align: center; 
  padding: 1em;
  background-color: #331a6f;
  text-decoration: overline;
  text-decoration-color: #331a6f;
  background-image: url('https://media.istockphoto.com/id/1136461807/es/foto/estilizado-fondo-delicado-con-flores-peque%C3%B1as.jpg?s=1024x1024&w=is&k=20&c=4SToYq3HeopX79Tx-T0G8f_GdLnKJZNbE4DRIc7KTgo=');
  font-style: italic;
  font-size: x-large;
  color: #10364e;
  
}
body {
  font-family: Arial, sans-serif;
  background-image: url('https://j.gifs.com/KYZrE4.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul {
  list-style-type: none;
  padding: 60px 200px;
}

.mod {
  width:auto;
  height:auto;
  padding: 5px;
  border: 1px solid #331a6f;
  margin: 1em 0;
  box-sizing: border-box;
  text-align: center;
  font-size: larger;
  background-color: #e9f0d2;


}

textarea[name="user-input"] {
  width: 80%;
  height: 100px;
  margin: 50px 100px 5px 100px;
  font-size: large;
  font-style: inherit;
}

#reset-button {
  display: block;
  margin: 1em auto;
  padding: 0.5em 1em;
  background-color: #e62a05;
  color: white;
  border: none;
  cursor: pointer;
}

#reset-button:hover {
  background-color: #5eb67d;
}
h1{
  color: #10364e;
}

